:root {
  --neon-green: rgb(37, 252, 77);
}

body {
  margin: 0;
}

main {
  width: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

#joe-in-japan,
h1.hero,
h2.hero {
  visibility: visible !important;
}

#joe-in-japan {
  width: auto;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

section {
  width: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}

section.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  justify-content: center;
  align-items: end;
}

h1.hero {
  font-size: 10vw;
}
h2.hero {
  font-size: 4vw;
}

h1,
h2 {
  height: min-content;
  color: var(--neon-green);
  z-index: 10;
  margin: 0;
  font-family: "Crete Round", serif;
}

div.name-and-title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 10;
  display: grid;
  justify-items: center;
}

img.hero {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}
