body {
    height: 1000vh;
    /* background-color: deeppink; */
}
body,div,img {
    margin: 0;
    padding: 0;
}
div.head-container {
    position: fixed;  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 5vh;
    place-content: center;
    justify-items: center;
    width: 100vw;
    height: 100vh;
}
div.head {
    width: 15vh;
}
img {
    display: block;
    width: 100%;
    margin: 0;
}
svg.m {
    width: 96vw;
    height: 40vh;
    grid-row: 2 / 3;
    grid-column: 1 / 4;
}